.wrapper {
  height: 50px;
  display: flex;
  align-items: center;

  div {
    width: 5px;
    height: 30px;
    margin: 0 3px;
    border-radius: 50px;
    // animation-iteration-count: infinite;
    // animation-iteration-function: linear;
  }

  div.line1 {
    background-color: #fff;
    animation: animate1 .9s linear infinite;
  }
  
  div.line2 {
    background-color: #fff;
    animation: animate2 1.1s linear infinite;
  }
  
  div.line3 {
    background-color: #fff;
    animation: animate3 1.3s linear infinite;
  }
  
  div.line4 {
    background-color: #fff;
    animation: animate4 .8s linear infinite;
  }
  
  div.line5 {
    background-color: #fff;
    animation: animate5 .7s linear infinite;
  }
  
  div.line6 {
    background-color: #fff;
    animation: animate6 1.0s linear infinite;
  }
  
  div.line7 {
    background-color: #fff;
    animation: animate7 1s linear infinite;
  }
  
  @keyframes animate1 {
    50% {
      height: 20px;
    }
  }
  
  @keyframes animate2 {
    50% {
      height: 5px;
    }
  }
  
  @keyframes animate3 {
    50% {
      height: 30px;
    }
  }
  
  @keyframes animate4 {
    50% {
      height: 40px;
    }
  }
  
  @keyframes animate5 {
    50% {
      height: 5px;
    }
  }
  
  @keyframes animate6 {
    50% {
      height: 5px;
    }
  }
  
  @keyframes animate7 {
    50% {
      height: 20px;
    }
  }
}


